//SIZE rem
$font-size-1: 0.625rem; // 10px
$font-size-2: 0.75rem; // 12px
$font-size-3: 0.875rem; // 14px
$font-size-4: 1rem; // 16px
$font-size-5: 1.125rem; // 18px
$font-size-6: 1.25rem; // 20px
$font-size-7: 1.5rem; // 24px
$font-size-8: 1.75rem; // 28px
$font-size-9: 2rem; // 32px

//fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;