@use "./_clearStyle.scss" as *;
@use "./fonts" as font;
@use "./colors" as color;

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: color.$bg-100;
}