@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

main{
    flex: 1;
    padding: 1rem;
    background-color: c.$bg-300;
    margin-left: 190px;
    min-height: calc(100vh - 50px);
}

.scrollbar{
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 190px;
}