@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

.header{
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.6rem 2rem;

  background-color: c.$primary-100;
  color: c.$text-on-primary;

  img {
    height: 40px;
    width: auto;
  }

  nav {
    display: flex;
    gap: 1.5rem;

    p {
      margin: 0;
      cursor: pointer;
      font-weight: 500;
      font-size: f.$font-size-6;
      transition: opacity 0.1s ease;

      &:hover {
        opacity: 0.8;
      }

    }
  }
}