@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

.footer{
    background-color: c.$bg-500; //darker color
    padding: 1rem;
    bottom: 0;
    width: 100%;

    height: 70px;

    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p{
        color: c.$text-strong;
        font-family: f.$font-secondary;
        font-size: 0.9rem;
    }

    div{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        ul{
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 5rem;
        }
        
    }
}
a{
    color: c.$text-strong;
    font-family: f.$font-secondary;
    font-size: 0.9rem;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}