@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

.scrollbar_wrapper {
    display: flex;
    flex-direction: column;
    background-color: c.$primary-200;
    overflow-y: auto;
    height: 100%;

    a {
        padding-left: 20px;
        width: 100%;
        color: c.$text-on-primary;
        text-decoration: none;
        font-size: f.$font-size-4;
        
        &:hover {
            background-color: c.$primary-300;
            text-decoration-line: none;
        }
    }
    
    &::-webkit-scrollbar {
        background-color: rgba($color: #000000, $alpha: 0.03);
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-radius: 2px;
        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.15);
        }
    }
}

