@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

.scrollbar_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    background-color: c.$primary-200;
    width: 200px;

    a {
        width: 100%;
        color: c.$text-on-primary;
        text-decoration: none;
        font-size: f.$font-size-4;
        border-radius: 4px;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: c.$primary-300;
        }
    }
}